/**
    Table of Content
    1.Display
    2.Showcase
    3.Store
*/

body {
  margin: 0;
}

body .main-content .section-display .banner {
  background-image: url(/images/banner.png?1ce9b8f043098cd91ea7c111155b2745);
  width: 100%;
  min-height: 700px;
  margin: 0;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}

body .main-content .section-showcase {
  text-align: center;
}

body .main-content .section-showcase .product-row .item {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

